@using Asp.NetCore.Mvc
@using PagedList.Core.Mvc
@using Asp.NetCore.Mvc.Pagination

@{
    ViewData["Title"] = "Search Page";
    var hasResult = Model.SearchResult.SearchHits != null && Model.SearchResult.SearchHits.TotalItemCount > 0;
}
<div class="text-center">
    <h1 class="display-4">Search Result</h1>
    @if (hasResult)
    {
        <p>Showing items @Model.SearchResult.SearchHits.FirstItemOnPage through @Model.SearchResult.SearchHits.LastItemOnPage of @Model.SearchResult.SearchHits.TotalItemCount results for <strong>"@Model.SearchResult.SearchQuery"</strong>.</p>
    }
    else
    {
        <p>No matches were found for <strong>"@Model.SearchResult.SearchQuery"</strong>.</p>
    }
</div>
@if (hasResult)
{
    <div class="row">
        <div class="col-12">
            @foreach (var item in Model.SearchResult.SearchHits)
            {
                <p>
@*                    <h5><a href="#">@Html.Raw(item.No)</a></h5>
                    <h5><a href="#">@Html.Raw(item.Title)</a></h5>*@
                    <td>@item.No</td>
                    <td>
                        <a asp-controller="Note" asp-action="Detail" asp-route-No="@item.No">@Html.Raw(item.Title)</a>
                    </td>
                </p>
                <hr />
            }

            <p><h6>Customized</h6><pager class="pager-container" list="@Model.SearchResult.SearchHits" options="@PagedListRenderOptions.Bootstrap4Full" asp-action="Search" asp-controller="Note" asp-route-query="@Model.SearchResult.SearchQuery" /></p>

        </div>
    </div>
}